<main role="main">
  <div style="margin-top: 32px">
    <h2>Total des achats: {{userService.currentUser.panier.total.toFixed(2)}}$</h2> 
    <button class="btn btn-lg btn-primary" (click)="payerPanier()" type="button">Payer le panier</button>
  </div>

	<ul class="list-group">
		<li class="list-group-item" id="product-catalogue" *ngFor="let produit of panier.produits">
        <app-produit [produit]="produit.produit">{{produit}}</app-produit>
        {{produit.quantite}}
	</ul>
</main>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
