<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<img src={{produit.imageUrl}}>
		</div>
		<div class="col-sm-7">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1>{{produit.name}}</h1>
				</div>
				<div class="panel-body">
					<h2>{{produit.description}}</h2>
				</div>
			</div>
		</div>
		<div class="col-sm-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<p>{{produit.price}}</p>
				</div>
				<div class="panel-body">
					<button class="btn btn-primary" type="button" (click)="produitService.addProduct({produit: produit, quantite: 1})"></button>
				</div>
			</div>
		</div>
	</div>
</div>
