<div class="col-md-4">
	<div class="card mb-4 box-shadow">
	
		<img class="card-img-top" src={{produit.imageUrl}} alt="Card img cap">
		<div class="card-body">
			<p class="card-Text">{{produit.description}}</p> 
			
			<div class="d-flex justify-content-between align-items-center">
				<div class="btn-group">
					<button type="button" (click)="produitService.addProduct(produit)">ajouter au panier</button>

				</div>
				<small class="text-muted">{{produit.price}}</small>
			</div>
		</div>
	</div>
</div>

